 /* gg font */
 @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      html {
        scroll-behavior: smooth;
      }
      body{
        font-size:62.5%;
        font-family: "Roboto", sans-serif;
      }
      :root {
        --color-boder: #686363;
        --text-color:#ffff;
        --primary : rgb(18, 199, 57);
      }
      
      /* -------------------------header---------------------------------- */
      header {
        width: 100%;
        display:flex ;
        justify-content: center;
        align-items: center;
        background-color:var(--primary) ;
        position: fixed;
        z-index: 1000;
        
      }
      
      .header-container h1{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.6rem;
        font-weight: 500;
        margin: 10px 0;
        color:var(--text-color);
      }
      .header-container i {
        margin-right: 5px;
        font-size: 1.8rem;
      }
      /* ------------------------conten-------------------------- */
      .container{
        max-width: 1200px;
        margin: 0 auto;
        position: relative;
      }
      .main-conten {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
      }
      #map {
        /* position: absolute; */
        width: 100%;
        height: 780px;
        border: 1px solid var(--color-boder);
        border-radius: 4px;
         box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
      }
      /* ---------------------------footer-------------------------------- */
      footer{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color:var(--primary);
        position: absolute;
        bottom: 0;
      }
      .footer-container p {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 0;
        font-weight: 500;
        font-size: 1rem;
        color: #ffff;
      }
      .footer-container i {
        font-size: 1.1rem;
        margin: 0 5px;
      }